h1{
	color: white;
	padding-left: 20px;
}
header{
	background-color: rgb(45,45,45);
}
#contacttable{
	border-color: black;
}
#contacttable>tbody>tr:nth-child(even)>td{
	background-color: rgb(26,26,26);
}
#contacttable>tbody>tr:nth-child(odd)>td{
	background-color: rgb(60,60,60);
}
ul{
	list-style-type:none;
	padding: 0;
	margin:0;
}
.info2{
	display: none;
}

#name{
	padding-left: 30px;
	float: left;
	color: white;
}

.span8{
	color:white;
}

#circle{
	padding-left: 20px;
	float:left;
	font-size:20px;
	color: rgb(65,209,87);
}
.dropbtn{
	float: right;
	padding-left: 20px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 5px;
	margin-right: 20px;
}
.dropdown{
	float: right;
	position: relative;
	display: inline-block;
}
.dropdown:hover .dropbtn{
	background-color: grey;
}
.dropdown:hover .dropdown-menu{
	display:block;
}
.dropdown-menu{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	padding-bottom:45px;
}
footer{
	background-color: rgb(45,45,45) ;
}